#footer-index{
    background-color:#214e9b;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

#footer-enlaces{
    display: grid;
    grid-template-columns: auto auto auto;
}

#enlace-fot{
    font-size: 16px;
    text-decoration: none;
    color: white;
}

a{
    text-decoration: none;
    color: white;
    font-size: 20px;
} 

#enlaces-sociales{
    margin-top: 20px;
    margin-bottom: 20px;
}
