#productos{
    display: grid;
    grid-template-columns: auto auto auto;
}

#tarjeta-producto{
    box-shadow: 2px 2px 12px;
    text-align: center;
    color: #02318D;
    width: 300px;
    height: 460px;
    margin: 30px;
}

#foto-producto{
    width: 300px;
    height: 300px;
}
#precio-producto{
    padding-bottom: 12px;
    font-size: 20px;
    font-weight: normal;
    color: #DD010B;
}

#nombre-marca-producto{
    font-size: 18px;
    font-weight: normal;
    padding-top: 12px;
    padding-bottom: 12px;
}

#descripcion-producto{
    font-size: 16px;
    padding-bottom: 12px;
}

#btn-add-cart{
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #02318D;
    color: white;
    border: none;
    font-size: 17px;
    text-decoration: none;
}

#btn-add-cart:hover{
    color: white;
    background-color: #DD010B;   
}

#titul{
    font-size: 25px;
    color:#dd010c88
}